@charset "utf-8";
/* CSS Document */

/* COLORS

red: #e41946
blue: #00aeef
yellow: #ffd820
purple: #8c5ba6
green: #82c55b

*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	color: #fff;
	background-color: #eee;
}

/* HEADER */

.header-container, .header-color {
	width: 100%;
	height: 25vh;
	position: relative;
}

.header-container {
	z-index: 1000;
}

.header-color {
	background-color: #08479D;
	z-index: -1;
}

.box {
	position:absolute;
	width: 26vw;
	height: 20vh;
	background-color: #0E1A5E;
	padding: 20px;
	top: 0px;
	left: 6vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	display: block;
	width: 22vw;
}


/* NAVBAR */

.navbar {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 46vw;
	height: 15vh;
}

.navbar > li{
	list-style: none;
	margin: 0px 1vw;
	text-align: center;
	font-size: 1.3vw;
	font-weight: 600;
	width: 25%;
	padding: 6vh 0px;
	cursor: default;
}


/* NAVBAR HOVER EFFECT */

.navbar li:hover, .navbar li > .dropdown:hover{
	text-decoration: underline;
}

li#about:hover, li#apply:hover, li#contact:hover, li#login:hover {
	background-color: #fff;
}

#about {
	background-color: #e41946;
}
#about:hover {
	color: #e41946;
}

#apply {
	background-color: #ffd820;
}
#apply:hover {
	color: #ffd820;
}

#contact {
	background-color: #82c55b;
}
#contact:hover {
	color: #82c55b;
}

#login {
	background-color: #8c5ba6;
}
#login:hover {
	color: #8c5ba6;
}


/* DROPDOWN */

.dropdown {
	position: absolute;
	top: -25vh;
	right: 0;
	width: 45vw;
	height: 40vh;
	overflow: hidden;
	display: block;
	transition: 0.5s;
	z-index: -3;
	display: grid;
}

.dropdown a {
	text-decoration: none;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5vh;;
	font-weight: 700;
	width: 100%;
}

.navbar li:hover + .dropdown, .dropdown:hover {
	top: 15vh;
}


/* HOMEPAGE */

.container {
	display: flex;
	flex-wrap: wrap;
	background-color: #ddd;
}

.bg {
	width: auto;
	height: 40vh;
}

.arrow {
	position: absolute;
	bottom: 2vh;
	right: 1vw;
	width: 2.5vw;
	}

.what {
	box-sizing:border-box;
	background-color: #e41946;
	float: left;
	width: 30vw;
	height: 40vh;
	padding: 2vh 1vw;
	position: relative;
	font-size: 2vh;
}


.apply_big, .contact_big, .login_big {
	width: 33.33%;
	height: 35vh;
	padding: 2vh 1vw;
	position: relative;
	font-size: 2vh;
}

.apply_big {
	background-color: #ffd820;
}

.contact_big {
	background-color: #82c55b;
}

.login_big {
	background-color: #8c5ba6;
}


/* ENROLMENT FORM */

.enrolment_form {
	color: #000;
	background: #fffacd;
	padding: 20px 50px;
}

.enrolment_form h1 {
	font-size: 100px;
	text-align: center;
	color: #ffd820;
	font-size: 80px;
}

.enrolment_form h3 {
	font-size: 40px;
	color: #ffd820;
	text-align: center;
	font-weight: 700;
}

.enrolment_form > div {
	margin: 20px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.enrolment_form div label {
	display: flex;
	justify-content: flex-end;
  align-items: center;
	background-color: #ffd820;
	padding-right: 20px;
}

.enrolment_form input, .enrolment_form select ,  .enrolment_form option{
	font-size: 18px;
	padding: 10px;
}

.enrolment_form div > div {
	grid-column: 1/5;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#emergency_contacts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	border: none;
}

#emergency_contacts div {
	grid-column: auto;
}

#emergency_contacts div h4 {
	display: block;
	grid-column: 1/3;
	margin: 0;
	padding: 20px 0px;
	text-align: center;
}

#radio {
	display: grid;
	grid-template-columns: 30px 2fr 30px 2fr 2fr;
	height: 50px;
	padding-left: 20px;
	align-items: center;
	grid-column: auto;
}

#date {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #fff;
	grid-column: auto;
}

#date span {
	text-align: center;
}

#btn_enrol, #btn_update, #btn_reset {
	border: none;
	width: 300px;
	height: 100px;
	background-color: #ffd820;
	font-size: 30px;
	font-weight: 800;
	color: #fff;
	float: right;
	margin: 40px 0px;
}

#btn_reset {
	float: left;
}

.enrolment_form label , .enrolment_form input , .enrolment_form select , .enrolment_form option , #radio , #date, #emergency_contacts h4 {
	height: 8vh;
	font-size: 2.1vh;
	font-weight: 700;
	color: #444;
}

.enrolment_form input::-moz-placeholder {
	color: #fe1a1a;
	opacity: 1;
	font-weight: 550;
}

.enrolment_form input::placeholder {
	color: #fe1a1a; !important;
	font-weight: 550;
}

#centre_name::placeholder , #eDofE_ID::placeholder , #medical_condition::placeholder {
	color: #666; !important
}

#required {
	color: red;
}

/* GRID BORDERS */

.enrolment_form > div , #emergency_contacts div  {
	border: 3px solid #ff9c00;
	border-bottom: none;
	border-left: none;
}

.enrolment_form div label , #emergency_contacts div h4 {
	border-bottom: 3px solid #ff9c00;
	border-left: 3px solid #ff9c00;
}

.enrolment_form input , .enrolment_form select ,  .enrolment_form option , #radio , #date {
	border: none;
	border-bottom: 3px solid #ff9c00;
}

/* CONFIRM BOX */

.div_confirm {
	background-color: #8c5ba6;
	width: 30%;
	height: 30vh;
	margin: 15vh auto;
	padding: 3vh;
	text-align: center;
}

.div_confirm input {
	background-color: #fff;
	border: none;
	width: 7vw;
	padding: 10px;
	margin: 4vh 3vw;
	color: #8c5ba6;
	font-size: 4vh;
	font-weight: 600;
}

/* VIEW DETAILS */

.display_details {
	color: #fff;
	margin: 50px 80px 0px;;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.display_details div {
	background-color: #8c5ba6;
	font-size: 18px;
	display: inline-block;
	width: 500px;
	height: auto;
	padding: 30px;
	margin: 0px 20px;
}

.display_details div p,	.display_details div h2 {
	margin-bottom: 10px;
}

.display_details div input {
	display: block;
	font-size: 15px;
}

/* LOGIN */

.login_container {
	background-color: #8c5ba6;
	text-align: center;
	width: 30%;
	margin: 5vh auto;
	height: 65vh;
	display: grid;
}

.login_container > form > input{
	width: 55%;
	border-style: none;
	margin: 2vh 0px;
	font-size: 3vh;
	text-align: center;
	background-color: #8c5ba6;
	border: 2px solid #fff;
	border-radius: 2vh;
	padding: 2vh;
	font-weight: 900;
	color: #fff;
}

.login_container input[type=submit] {
	background-color: #fff;
	border: none;
	color: #8c5ba6;
	margin: 0;
}

.login_container > div > form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.login_container > div > form > input {
	color: #8c5ba6;
	background-color: #fff;
	font-size: 3vh;
	font-weight: 600;
	height: 12vh;
}

.login_container input::placeholder {
	opacity: 0.75 !important;
	color: #fff;
}

.login-contai input:-ms-input-placeholder {
  opacity: 0.75 !important;
	color: #fff;
}

#user {
	background-color: #8c5ba6;
	color: #fff;
}

/* INACTIVE PROFILE */

.inactive_profile {
	background-color: #ffd820;
	font-size: 5vh;
	font-weight: 600;
	margin: 5vh 5vw;
	padding: 5vh 5vw;
}

/* USER PROFILE */

.profile {
	width: 95%;
	background-color: #ddd;
	margin: 30px auto;
	text-align: center;
	border-radius: 20px;
	padding:  30px;

}

.profile h1 {
	font-size: 60px;
	color: #8c5ba6;
}

.profile div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.profile div a {
	display: flex;
	align-items:center;
	justify-content:center;
	margin: 20px;
	text-decoration: none;
	color: #fff;
	font-size: 35px;
	background-color: #8c5ba6;
	width: 26vw;
	height: 35vh;
	font-weight: 700;
}

.profile p {
	font-size: 30px;
	color: #8c5ba6;
}

#back_logout {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
}

#back_logout a {
	text-decoration: none;
	color: #8c5ba6;
	font-weight: 600;
	font-size: 30px;
}

.details {
	color: #000;
	margin: 50px 50px;
}

/* PLAN ACTIVITY */

.create_activity {
	color: #fff;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.create_activity > div {
	background-color: #8c5ba6;
	padding: 30px;
	text-align: center;
	position: relative;
	margin: 0px 20px;
}

.create_activity h1 {
	font-size: 25px;
}

.create_activity table {
	margin: auto;
	border-color:  #fff;
	border-collapse: collapse;
}

.create_activity table tbody {
	display: block;
	width: 100%;
	overflow: auto;
	height: 360px;
}

.create_activity table th {
	padding: 5px;
	background-color: #fff;
	color: #8c5ba6;
}

.create_activity table td {
	text-align: left;
	padding: 5px;
}

.create_activity input[type=date]{
	padding: 5px 0px;
	font-size: 20px;
	display: block;
	width: 100%;
	text-align: center;
}

#undertake {
	background-color: #fff;
	color: #8c5ba6;
	display: block;
	padding: 15px;
	font-size: 20px;
	font-weight: 700;
	border:none;
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translate(-50%);
}

.create_activity div label {
	display: block;
	font-size: 25px;
	font-weight: 700;
	margin: 20px 0px;
}

.create_activity > div > div {
	border: 2px solid #fff;
}

.create_activity textarea {
	width: 300px;
	height: 300px;
	font-size: 20px;
}

#btn_activate {
	margin: 10px 0px 0px 0px;
	color: #8c5ba6;
	background-color: #fff;
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
	border: none;
}

/* VIEW ACTIVITIES */

.view_activities {
	color: #fff;
	margin: 40px 40px 0px 40px;
	background-color: #ddd;
	height: 550px;
	padding: 25px;
}

.view_activities h1 {
	color: #8c5ba6;
	font-size: 50px;
	text-align: center;
	margin: 20px 0px;
}

.view_activities div {
	margin: auto;
	display: flex;
	justify-content: space-around;
	width: 90%;
}

.view_activities form {
	background-color: #8c5ba6;
	padding: 20px;
}

.view_activities form input {
	display: block;
	padding: 10px;
	margin: 20px 0px;
	text-align: center;
	width: 100%;
	font-size: 15px;
}

.view_activities table {
	border-color:  #8c5ba6;
	border-collapse: collapse;
}

.view_activities table tbody {
	display: block;
	width: 100%;
	overflow-y: scroll;
	max-height: 380px;
}

.view_activities table th {
	padding: 5px;
	background-color: #8c5ba6;
}

.view_activities table th a {
	color: #fff;
}

.view_activities table td {
	text-align: left;
	padding: 5px;
	color: #222;
	font-weight: 600;
}

/* ERROR MESSAGES */

.error {
	display: block;
	color: #fe1a1a;
	font-weight: 550;
	margin: 5px;
}

/* CONTACT US */

.contact_us {
	color: #000;
	text-align: center;
	padding: 5vh;
}

.contact_us h1 {
	font-size: 10vh;
	color: #82c55b;
}

.contact_us div {
	background-color: #ddd;
	width: 40%;
	margin: 6vh auto;
	padding: 3vh;
}

.contact_us h3, .contact_us p {
	margin: 2vh;
}

/* INSERT ACTIVITY */

.insert_activity {
	background-color: #8c5ba6;
	width: 30%;
	text-align: center;
	padding: 5vh 5vw;
	margin: 5vh auto;
}

.insert_activity input, .insert_activity textarea, .insert_activity select {
	display: block;
	margin: 1vh auto;
	width: 100%;
	padding: 1vh;
	font-size: 18px;
}

/* PARTICIPANT COUNT BOX */

#div_participant_count {
	background-color: #8c5ba6;
	display: block;
	width: 22%;
	float: right;
	padding: 10px;
}

#div_participant_count > div > div {
	margin: 0px 0.5vw;
}

#index_body {
	background-color: red;
	margin: 0;
}

#index_body div {
	margin: 35vh;
}

#index_header {
	text-align: center;
	font-size: 150px;
}

#index_link {
	display: block;
	width: 200px;
	height: 50px;
	background-color: white;
	
	text-decoration: none;
	color: red;
	font-size: 20px;
	text-align: center;
	padding: 12px;
	
	margin: 15vh auto;
}
